<!DOCTYPE html>
<html lang="en">
<head>
    <title>Writing</title>
        <link rel="stylesheet" type="text/css" href="../main.css">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <div class="header">
        <h1><a href="/writing/">Writing</a></h1>
            <p>
                Whatever I write about data science, programming, management, technology, home lab, and other stuff.
            </p>
    </div>
    <div class="date">__DATE__</div>
    <div class="post">
        <h2>__TITLE__</h2>
        <!-- ARTICLE CONTENT -->
    </div>
    <div class="footer">
        <a href="/writing/">Writing</a>
    </div>
</body>
</html>