<!DOCTYPE html>
<html lang="en">
<head>
    <title>Short Stories</title>
        <link rel="stylesheet" type="text/css" href="main.css">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <div class="header">
        <h1><a href="/shortstories/">Short Stories</a></h1>
            <p>
                Short, fiction stories.
            </p>
    </div>
    <div class="date">__DATE__</div>
    <div class="post">
        <h2>__TITLE__</h2>
        <!-- STORY CONTENT -->
    </div>
    <div class="footer">
        <a href="/shortstories/">Short Stories</a>
    </div>
</body>
</html>